def y1():
    reponse = raw_input("Qui es-tu ? (sans accent !)").lower()
    if reponse == "melanie":
        print "Je t\'aime. Tu es fabuleuse <3<3<3<3<3<3<3"
    elif reponse != "melanie":
        print "Ce code n'est pas pour toi !"

y1()
#Je t'aime Crevette <3<3<3
